* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Подключаем шрифты*/
@font-face {
  font-family: "Forum";
  src: url("assets/fonts/Forum-Regular.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
/*Шрифты в хеадерс*/
.nav-link {
  position: absolute;
  height: 26px;
  top: 0;
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}

.visiting { left: 0px;    width: 85px;  font-weight: 100; border: 1px solid #000; }
.explore  { left: 140px;  width: 84px;  font-weight: 100; }
.video    { left: 279px;  width: 63px;  font-weight: 200; }
.gallery  { left: 397px;  width: 84px;  font-weight: 200; }
.tickets  { left: 536px;  width: 82px;  font-weight: 200; }
.contacts { left: 673px;  width: 102px; font-weight: 200; }

/*Лого параметры*/
.logo-wrapper {
  position: absolute;
  width: 199px;
  height: 33px;
  left: 0px;
  top: 59px;
}

.frame {
  position: absolute;
  width: 49px;
  height: 26px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  overflow: hidden;

  background-image: url('assets/svg/Vector.svg');
}

.logo-title {
  position: absolute;
  width: 125px;
  height: 31px;
  left: 74px;
  top: 2px;

  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #FFFFFF;
}

/*Плавная прокрутка*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/*Настройки header*/
header {
  position: absolute;
  width: 1440px;
  height: 150px;
  left: 240px;
  top: 0px;
}

.menu-action {
  position: absolute;
  width: 775px;
  height: 26px;
  left: 665px;
  top: 62px;
}

.BG {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: -240px;
    top: 0px;
    background: #030303;
}

/*Настройки MAIN */
.main {
  position: absolute;
  width: 1440px;
  height: 8717px;
  left: 240px;
  top: 150px;
}

.welcome {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 810px;
  left: 0px;
  top: 0px;
  border: 1px solid #000000;
}

.welcome_head {
  position: absolute;
  width: 598px;
  height: 388px;
  left: 0px;
  top: 150px;
}

.welcome-name {
  position: absolute;
  width: 598px;
  height: 180px;
  left: 0px;
  top: 0px;
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.welcome-subtitle {
  position: absolute;
  width: 445px;
  height: 33px;
  left: 0px;
  top: 205px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;

  color: #FFFFFF;
}

.welcome-button {
  position: absolute;
  width: 360px;
  height: 75px;
  left: 0px;
  top: 313px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;

  color: #FFFFFF;
  background: #710707;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bg-welcome {
  position: absolute;
  width: 1920px;
  height: 842px;
  left: -240px;
  top: -32px;
  background: #030303;
  z-index: -1;
}

.welcome-picture {
  position: absolute;
  width: 1000px;
  height: 750px;
  left: 440px;
  top: 0px;

  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%),
              url('assets/img/welcome-slider/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





